- @content.each do |section|
    - case get_block_type(section["$type"])
        - when "paragraph"
            - @text = section["text"]
            - if @text.empty?
            - else
                %p<>!= haml :paragraph
        - when "html"
            != section["text"]
        - when "list"
            %ol
                - section["text"].each do |elem|
                    - @text = elem
                    %li<>!= haml :paragraph
        - when "code"
            %pre
                %code<>= section["text"]
        - when "heading"
            %h3>= section["text"]
        - when "subheading"
            %h4>= section["text"]
        - when "image"
            - img = section["text"]
            - link = case img["source"]
                - when "blob"
                    - "https://#{MainBlog.config.pds}/xrpc/com.atproto.sync.getBlob/?cid=#{img["img"]}&did=#{MainBlog.config.repo}"
                - when "url"
                    - img["img"]
            - if dims = img["dimensions"]
                %img{ :src => link, :alt => img["alt"], :width => dims["width"], :height => dims["height"] }>
            - else
                %img{ :src => link, :alt => img["alt"] }>

