%html 
    %head 
        %link{ :rel => "stylesheet", :href => "/style.css" }
        %title= post_content["title"] + " | " + MainBlog.home_rec["title"]

%h1= post_content["title"]
!= Kramdown::Document.new(post_content["content"]).to_html # Specify in more detail later
/ Pretend that's markdown for now, we'll make it real later 


%a{:href => "javascript:history.go(-1)"} Back