%html
    %head
        %link{ :rel => "stylesheet", :href => "/style.css" }
        %title= post_content["title"] + " | " + MainBlog.home_rec["title"]

%h1= post_content["title"]
%strong= post_content["createdAt"]
- @content = post_content["content"]
!= haml :block


%a{:href => "javascript:history.go(-1)"} Back
